.smaller-image {
  height: 200px;
}
.bio-container{
  display:flex;
}
.bio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 0px 0px 20px;
}
.tech{
  display: flex;
}